body {
  margin: 0;
  font-family: "Noto Sans Armenian", sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #d7d7e0;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b0a9ca;
  border-radius: 10px;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #373962;
}

* {
  box-sizing: border-box;
}
